:root {
    --padding: 5%
}

.images img {
    width: 50px;
    height: auto;
}

.images {
    width : 500px;
    height : 500px;
    padding-top: var(--padding);
    padding-right: var(--padding);
}

body {
    background-image: url("images/treee.png");
    /* there's no background-opacity property but this is a combo that works https://blog.jim-nielsen.com/2025/background-image-opacity-css/ */
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    /*ok note that size determines if something is able to be changed with the background opacity*/
    background-size: 100%;
}

@font-face {
    font-family: Ballet;
    src: url(Ballet/Ballet-Regular-VariableFont_opsz.ttf); 
}


.textoverlap {
    display: grid;
    span {
        grid-area: 1 / 1;
        justify-self: center;
        translate: 2ch;
        &:first-child {
            translate: -2ch;
        } 
    }
}

.title {
    font-family: Ballet;
    font-size: 90px;
    text-align: left;
    padding-top: var(--padding);
}
.title2 {
    transform: translate(-4ch, 3ch) !important;
    color: red; 
    font-family: Ballet; 
    font-size: 90px;
    text-align: left;
}
.title3 {
    transform: translate(-4ch, 4ch) !important;
    color: green;
    font-family: Ballet;
    font-size: 90px;
    text-align: left;
}

.title4 {
    transform: translate(-4ch, 5ch) !important;
    color: blue;
    font-family: Ballet;
    font-size: 90px;
    text-align: left;
}
.title5 {
    transform: translate(-4ch, 6ch) !important;
    color: purple;
    font-family: Ballet;
    font-size: 90px;
    text-align: left;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 90px;
    color: rgb(129, 89, 89);
    mix-blend-mode: color-burn;
    text-align: left;
    padding-top: var(--padding);
}

.graves1 {
    width: 100%;
    height: auto;
    content: url("images/graves.png");
    mix-blend-mode: exclusion;
    /* https://stackoverflow.com/questions/11516291/css-get-height-of-screen-resolution */

    content-visibility: visible;
    flex : 4;
}

.container {
    display: flex;
    flex-direction: column;
}

.assignmentText {   
    flex : 10
}