:root {
    --padding: 5%
}

.images img {
    width: 50px;
    height: auto;
}

.images {
    width : 500px;
    height : 500px;
    padding-top: var(--padding);
    padding-right: var(--padding);
}

body {
    background-image: url("images/treee.png");
    /* there's no background-opacity property but this is a combo that works https://blog.jim-nielsen.com/2025/background-image-opacity-css/ */
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    /*ok note that size determines if something is able to be changed with the background opacity*/
    background-size: 100%;
}

.graves1 {
    width: 100%;
    height: auto;
    content: url("images/graves.png");
    mix-blend-mode: exclusion;
    /* https://stackoverflow.com/questions/11516291/css-get-height-of-screen-resolution */
    content-visibility: visible;
    flex : 4;
}

.container {
    display: flex;
    flex-direction: column;
}

.assignmentText {   
    flex : 10
}