:root {
    --padding: 50%
}

.images img {
    width: 50px;
    height: auto;
}

.images {
    width : 100%;
    height : 100%;
    padding-top: var(--padding);
    padding-right: var(--padding);
}

body {
     --transparentImg: data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7;
    
    background-image: url("images/treee.png")
    cross-fade(
        url(images/treee.png),
        url(--transparentImg),
        50%
    );
    background-size: cover;
    /* there's no background-opacity property but this is a combo that works https://blog.jim-nielsen.com/2025/background-image-opacity-css/ */
}

.graves {
    width: 100%;
    height: auto;
    content: url("images/graves.png");
    content-visibility: visible;
    flex : 4;
}

.container {
    display: flex;
    flex-direction: column;
}

.assignmentText {   
    flex : 10
}